
# flask_app/requirements.txt
flask==3.0.3
dagshub==0.3.34
pandas==2.2.2
nltk==3.8.1
gunicorn==21.2.0

# Model dependencies - MUST match training environment
mlflow==2.15.0
cloudpickle==3.0.0
numpy==1.26.4
psutil==6.0.0
pyarrow==15.0.2 
scikit-learn==1.5.1
    